<div class="container">
  <div class="sidebar">
    <form #analyzerForm="ngForm" (ngSubmit)="submitForm()" class="mw" nz-form nzLayout="vertical">

      <nz-form-item>

        <nz-form-label nzRequired>Text</nz-form-label>
        <nz-form-control nzErrorTip="This field is required">
            <textarea [(ngModel)]="text" name="text" nz-input placeholder="Text to analyze"
                      required
                      rows="22"></textarea>

        </nz-form-control>
      </nz-form-item>

      <button [disabled]="!analyzerForm.form.valid" [nzLoading]="isLoading" class="mw" nz-button nzType="primary">
        Analyze
      </button>
    </form>
  </div>
  <div class="content">
    <nz-spin *ngIf="isLoading" [nzSize]="'large'" [nzSpinning]="isLoading" nzSimple></nz-spin>
    <ng-container *ngIf="resultSource?.length > 0 && !this.isLoading">
      <div class="legend">
        <div>
          <nz-tag *ngFor="let color of COLORKEYS" [nzColor]="COLORS[color]">{{color}}
          </nz-tag>
        </div>
      </div>
      <div class="container">
        <div *ngFor="let key of resultSource" class="flex-col align-center">
          <h1>{{key}}</h1>
          <div class="tag-wrapper flex-row">
            <ng-container *ngFor="let item of results[key]">
              <nz-tag *ngIf="item.tag" nz-tooltip nzColor="{{COLORS['KEYWORD']}}"
                      nzTooltipTitle="KEYWORD">{{item.tag}}
              </nz-tag>
              <nz-tag *ngIf="item.type && item.entity" [nzColor]="COLORS[item.type]" [nzTooltipTitle]="item.type"
                      nz-tooltip>{{item.entity}}
              </nz-tag>
            </ng-container>
          </div>
        </div>
        <div>
          <span>Language: {{language}}</span>
        </div>
      </div>
    </ng-container>
  </div>
</div>
