[submodule "embeddia-nlg"]
	path = modules/embeddia-nlg
	url = https://github.com/ljleppan/eu-nlg-prod.git
[submodule "embeddia-kwe-et"]
	path = modules/embeddia-kwe-et
	url = https://gitlab.com/matej.martinc/tnt_kid_app.git
[submodule "embeddia-hsd"]
	path = modules/embeddia-hsd
	url = https://github.com/mpurver/comment-filter.git
[submodule "embeddia-ner"]
	path = modules/embeddia-ner
	url = https://github.com/EMBEDDIA/ULR_NER_REST.git
[submodule "embeddia-kwe-hr"]
	path = modules/embeddia-kwe-hr
	url = https://gitlab.com/boshko.koloski/tnt_kid_app_hr.git
[submodule "embeddia-kwe-lv"]
	path = modules/embeddia-kwe-lv
	url = https://gitlab.com/boshko.koloski/tnt_kid_app_lv.git
[submodule "embeddia-kwe-slo"]
	path = modules/embeddia-kwe-slo
	url = https://gitlab.com/boshko.koloski/tnt_kid_app_slo.git
[submodule "embeddia-kwe-rakun"]
	path = modules/embeddia-kwe-rakun
	url = https://gitlab.com/skblaz/rakun-app-docker.git
[submodule "embeddia-kwe-en"]
	path = modules/embeddia-kwe-en
	url = https://gitlab.com/matej.martinc/tnt_kid_app_english.git
[submodule "embeddia-hsd-mbert"]
	path = modules/embeddia-hsd-mbert
	url = https://github.com/EMBEDDIA/comment-filter-mbert-multi.git
[submodule "embeddia-hsd-mbert-enee"]
	path = modules/embeddia-hsd-mbert-enee
	url = https://github.com/EMBEDDIA/comment-filter-finest-bert-engee.git
[submodule "embeddia-hsd-cse"]
	path = modules/embeddia-hsd-cse
	url = https://github.com/EMBEDDIA/comment-filter-csebert-cse.git
[submodule "embeddia-kwe-bert"]
	path = modules/embeddia-kwe-bert
	url = https://gitlab.com/boshko.koloski/bert-multilingual-kws-docker.git
