[submodule "nlg"]
	path = modules/nlg
	url = https://github.com/ljleppan/eu-nlg-prod.git
[submodule "keyword"]
	path = modules/keyword
	url = https://gitlab.com/matej.martinc/tnt_kid_app.git
[submodule "hatespeech"]
	path = modules/hatespeech
	url = https://github.com/shekharRavi/flask-rest-docker.git
