[submodule "nlg"]
	path = modules/nlg
	url = https://version.helsinki.fi/leo.leppanen/eunlg
[submodule "keyword"]
	path = modules/keyword
	url = https://gitlab.com/matej.martinc/tnt_kid_app
[submodule "hatespeech"]
	path = modules/hatespeech
	url = https://github.com/shekharRavi/flask-rest-docker/
