<nz-layout class="mh">
  <nz-header class="flex-row">
    <ul nz-menu nzMode="horizontal" nzTheme="dark">
      <li nz-menu-item nzMatchRouter [nzMatchRouterExact]="true"><a class="fw-medium color-w" [routerLink]="['']">Embeddia demo</a></li>
      <li nz-menu-item nzMatchRouter><a [routerLink]="['comment-analyzer']">Comment Analyzer</a></li>
      <li nz-menu-item nzMatchRouter><a [routerLink]="['article-analyzer']">Article Analyzer</a></li>
      <li nz-menu-item nzMatchRouter><a [routerLink]="['article-generation']">Article Generator</a></li>
      <li nz-menu-item nzMatchRouter><a [routerLink]="['dashboard']">Dashboard</a></li>
    </ul>
  </nz-header>
  <nz-content class="mh">
    <router-outlet></router-outlet>
  </nz-content>
</nz-layout>
