<div class="container">
  <div class="sidebar">
    <form #analyzerForm="ngForm" (ngSubmit)="submitForm()" class="mw" nz-form nzLayout="vertical">
      <nz-form-item>

        <nz-form-label nzRequired>Text</nz-form-label>
        <nz-form-control nzErrorTip="This field is required">
            <textarea [(ngModel)]="text" name="text" nz-input placeholder="Text to analyze"
                      required
                      rows="22"></textarea>

        </nz-form-control>
      </nz-form-item>

      <button [disabled]="!analyzerForm.form.valid" [nzLoading]="isLoading" class="mw" nz-button nzType="primary">
        Analyze
      </button>
    </form>
  </div>

  <div class="content">
    <nz-spin *ngIf="isLoading" [nzSize]="'large'" [nzSpinning]="isLoading" nzSimple></nz-spin>
    <div class="container" >
      <nz-space nzDirection="vertical" nzSize="large">
        <nz-space-item *ngFor="let item of analyzers" class="flex-row status-block">
          <h1>{{item}}</h1>
          <div *ngIf="this.results[item].length > 0">
            <nz-tag *ngFor="let tag of this.results[item]" class="margin-10 m-r-a" nzColor="#ef5350">{{tag}}</nz-tag>
          </div>
          <nz-tag *ngIf="this.results[item].length === 0" class="margin-10 m-r-a" nzColor="#66bb6a">OK</nz-tag>
        </nz-space-item>
      </nz-space>
    </div>
  </div>
</div>
