<div class="flex-col mw mh align-center container-padding">
  <h1>EMBEDDIA Toolkit API status</h1>
  <nz-spin class="margin-10" [nzSpinning]="loading"></nz-spin>
  <div *ngIf="!loading">
    <nz-card>
      <div class="flex-row flex-wrap">
        <div class="margin-10" *ngFor="let service of services">
          <nz-tag [nzColor]="service.value ? '#66bb6a' : '#ef5350'" class="tag" nz-tooltip [nzTooltipTitle]="service.value ? 'ONLINE' : 'OFFLINE'">{{service.key}}</nz-tag>
        </div>
      </div>
    </nz-card>
    <nz-card>
      <div class="flex-row justify-content-space-evenly">
        <div class="flex-col align-center">
          <label class="fw-medium">CPU USAGE</label>
          <nz-progress [nzPercent]="cpu" nzStatus="normal" nzStrokeLinecap="square" nzStrokeWidth="9"
                       nzType="dashboard"></nz-progress>
        </div>
        <div class="flex-col align-center">
          <label class="fw-medium">DISK SPACE</label>
          <nz-progress [nzPercent]="disk" nzStatus="normal" nzStrokeLinecap="square" nzStrokeWidth="9"
                       nzType="dashboard"></nz-progress>
          <label class="margin-10">{{diskObj.used | number: '1.0-2'}} / {{diskObj.total | number: '1.0-2'}} {{diskObj.unit}}</label>
        </div>
        <div class="flex-col align-center">
          <label class="fw-medium">MEMORY</label>
          <nz-progress [nzPercent]="memory" nzStatus="normal" nzStrokeLinecap="square" nzStrokeWidth="9"
                       nzType="dashboard"></nz-progress>
          <label class="margin-10">{{memoryObj.used | number: '1.0-2'}} / {{memoryObj.total | number: '1.0-2'}} {{memoryObj.unit}}</label>
        </div>
      </div>
    </nz-card>
  </div>
</div>
